.Cont{
    background-color:black;
    width:100%;
    height:2200px;
}

.title-name{
    margin: 0px;
    font-weight:800;
}
.title-heading{
    padding: 50px
}

@media only screen and (max-width: 800px) {
    .lastone{
        margin-bottom: 100px;
    }
}